* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

$theme : #eb0027e5;

@mixin heading ($fsize , $width , $top , $left){
    font-family: 'Roboto', sans-serif;
    font-size: $fsize;
    color: #ffffffc0;
    border-left: 5px solid $theme;
    width: $width; 
    padding :5px 12px ;
    position: relative;
    left: $left;
    top: $top;
}

@mixin flexit($flex_direction) {
    display: flex;
    flex-direction: $flex_direction;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin buttons {
            background-color: $theme;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            @include flexit(row);
            text-align: center;
            font-size: 16px;
            width: 100%;
            height: 100%;
            overflow-y: hidden;
            &:hover{
                background-color:#ff002b ;
            }
            
}

//mixins for contact page
@mixin u_stuff {
    display: block;
    width:100% ;
    position: relative;
    top: 15px;
    pointer-events: none;
    transition: 0.2s;

}

// .preload{
//     height: 100vh;
//     width: 100vw;
//     background: rgb(78, 78, 78);
//     .circle{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         background-color: white;
//         height: 48px;
//         width: 48px;
//         .load {
//             width: calc(100% - 0px);
//             height: calc(100% - 0px);
//             border: 8px solid #162534;
//             border-top: 8px solid #09f;
//             border-radius: 50%;
//             animation: rotate 5s linear infinite;
//         }
//     }
// }

// @keyframes rotate {
//     100% {transform: rotate(360deg);}
//     } 

header {
    background-image: linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.3)), url('../img/headbg.jpg');
    opacity: 0.9;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: #ffffffcb;

    .navbar{
        background: rgba(0, 0, 0, 0.527);
        border-radius: 0% 0% 50% 0%;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s ease-in-out;
        overflow: hidden;

        .nav_list{
            position: relative;
            left: 10%;
            font-family: 'Montserrat', sans-serif;
            margin: 120px 100px;
            z-index: 101;
            li{
                font-size: 3rem;
                z-index: 102;
            }
        }
    }

    .burger {
        @include flexit(column);
        position: relative;
        width: 55px;
        height:50px;
        left: 1.5vw;
        top: 2.5vh;
        background-color:rgba(0, 0, 0, 0);
        z-index: 201;
        padding: 0;


        .line1, .line2 , .line3{
            position: relative;
            height: 5px;
            width: 37px;
            background-color:rgba(255, 255, 255, 0.801);
            margin: 3px;
        }
        
    }
    
    
    .first {
        position: relative;
        top: 22%;
        min-width: fit-content;
        left: 0%;
        right:65%;
        @include flexit(column);
        height: fit-content;

        .intro1 {
            position: relative;
            text-align: center;
            width: fit-content;
            font-family: 'Montserrat', sans-serif;
            font-size: 300%;
            top: 25%;
            width: 100%;
            z-index: 1;
        }
        .vtx {
            position: relative;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 6.5em;
            top: 24%;
            width: 100%;
            z-index: 1;
        }
        .intro2 {
            position: relative;
            text-align: center;
            width: fit-content;
            font-family: 'Montserrat', sans-serif;
            font-size: 300%;
            top: 25%;
            width: 100%;
            z-index: 1;
        }
    }
    
}

.navigate{
    position: fixed;
    z-index: 200;
    right:1vw;
    height:27vh;
    min-height: 200px;
    width:25px;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;

    .butt1 , .butt2 , .butt3, .butt4 ,.butt5,.butt6{
        border:2px solid #ffffff;
        cursor: pointer;
        width:16px;
        height: 16px;
        margin: 5px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        display: inline-block;
        transition: background-color 0.3s ease;
        z-index: 100;
    
        &:hover{
            background-color: #ffffff;
        }
    }
}


.aboutme {
    overflow: hidden;
    background-color: #adadad;
    height: 100vh;
    @include flexit(row);
    justify-content: space-around;
    

    .stud {
        height: 100vh;
        width: 50%;
        background-image: linear-gradient(rgba(100, 100, 100, 0.322) , rgba(0, 0, 0, 0.295)), url('../img/stud.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        overflow-x: hidden;
        min-height: 600px;

    }
    
    .about {
        width: 50%;
        height: 100vh;
        min-height: 600px;
        position: relative;
        font-family: 'Raleway', sans-serif;
        color: #000000a4;
        background-color: #adadad;

        .little {
            @include heading(250%,80% ,7% ,7% );
            color: #0000009c;
           

        }
        .info1 {
            position: relative;
            left: 7%;
            top: 12%;
            width: 85%;
        }
        .info2 {
            position: relative;
            left: 7%;
            top: 17%;
            width: 85%;
        }
        .butt_contain1{
            position: relative;
            top: 24%;
            left: 7%;
            width: 200px;
            height:50px ;
            .butt {
                @include buttons();
            }
        }
    }
}

.skills {
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    min-height: 600px;


    .keyboard {
        grid-column: 1 / 3;
        background-image: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)), url('../img/skills.jpg');
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -4;
        overflow-x: hidden;

        .stext {
            @include heading(380% ,100% ,40% ,22% );
            font-weight: bold;
        }
    }
    
    .skill1 {
        grid-column: 3/ 4; 
        width: 300%;
        background-color: #949494;
        @include flexit(column);
        align-items: flex-start;
        justify-content: flex-start;
        z-index: -3;

        .skill1_prog{
            position: relative;
            width: 185px;
            height: 185px;
            top: 27.5%;
            left: 4.5%;
            border-radius: 50%;
            border: 12px solid rgb(255, 60, 0);
            font-size: 40px;
            font-family: sans-serif;
            background: rgb(83, 83, 83);
            color: whitesmoke;
            @include flexit(column);

        }
        img {
            position: relative;
            width: 185px;
            top: 17.5%;
            left: 4.5%;
        }
    }
    
    .skill2 {
        grid-column: 4/5;
        width: 400%;
        background-color: #616161;
        z-index: -2;
        img {
            position: relative;
            width: 130px;
            top: 18%;
            left: 6.5%;
        }
    }

    .skill3 {
        grid-column: 5/6;
        width: 500%;
        background-color: #474747;
        z-index: -1;
        img {
            position: relative;
            width: 141px;
            top: 16.58%;
            left: 5%;
        }
    }

}
.Projects{
    height: 100vh;
    display: grid;
    grid-column: 1fr 4fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, #414345,#232526);

    .projects_title{
        @include heading(420% ,350px ,0 ,0 );
        background-clip: text;
    }

    .card_container{
        height: 80vh;
        width:80vw;
        @include flexit(row);
        justify-content: space-around;
        align-content: space-around;
        overflow-y: hidden;
        min-height: 600px;


        .contain1 , .contain2 , .contain3{
            height:450px;
            width: 350px;
            overflow-y: hidden;
            perspective: 500px;
            @include flexit(column);

            .card1, .card2, .card3{
                position: absolute;
                width: 80%;
                height: 40%;
                margin: 20%;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
                transition:  0.5s;
        
                .top{
                    z-index: 1;
                    background: #7e7c7c;
                    height:100%;
                    transition:  0.5s;
                    @include flexit(column);
            
                
                }
                .bottom{
                    overflow-y: hidden;
                    height:0%;
                    transition:  0.5s;
                    background: cornsilk;
            
                }   
            }
        }
    }    
}

.Contact{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.678) , rgba(0, 0, 0, 0.685)), url('../img/contact_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;

    
    .contact_title{
        @include heading(420%,400px ,1.5%,8% );
    }
    form{
        margin: 30px;
        @include flexit(column);
        align-content: space-around;
        height: 80vh;
        min-height: 600px;
        overflow-x: hidden;
        
        .name{
            width: 50%;
            max-width: 600px;
            min-width: 300px;
            height:60px;
            padding: 45px;

            .uname{
                @include u_stuff();
            }
            input[type="text"]{
                width: 100%;
                background: rgba(255, 255, 255, 0);
                border: none;
                border-bottom: 1px solid whitesmoke;
                color: whitesmoke;
                text-decoration: none;
            }

        }

        
        .mail{
            width: 50%;
            max-width: 600px;
            min-width: 300px;
            height:60px;
            padding: 45px;

            .umail{
                @include u_stuff();
            }

            input[type="email"]{
                width: 100%;
                background: rgba(255, 255, 255, 0);
                border: none;
                border-bottom: 1px solid whitesmoke;
                color: whitesmoke;
                text-decoration: none;
            }

        }
        .subject{
            width: 50%;
            max-width: 600px;
            min-width: 300px;
            height:60px;
            padding: 45px;

            .usubject{
                @include u_stuff();
            }

            input[type="text"]{
                width: 100%;
                background: rgba(255, 255, 255, 0);
                border: none;
                border-bottom: 1px solid whitesmoke;
                color: whitesmoke;
                text-decoration: none;
            }
        }
        .msg{
            width: 50%;
            max-width: 600px;
            min-width: 300px;
            height:200px;
            padding: 45px;
            overflow: hidden;

            .umsg{
                @include u_stuff();
                top:0px;
            }

            textarea{
                height: 90%;
                width: 100%;
                background: rgba(255, 255, 255, 0);
                border: none;
                border-bottom: 1px solid whitesmoke;
                color: whitesmoke;
                text-decoration: none;
                resize: none;
                font-family: 'Raleway', sans-serif;
                font-size: 14px;
            }
        }
        .butt_contain2{
            
            width: 200px;
            height:50px ;
            button{
                @include buttons();
                cursor: pointer;
            }
        }
        
    }
}

@media only screen and (min-width: 451px){

    .Projects{
    
        .card_container{
            
    
            .contain1 , .contain2 , .contain3{
                &:hover{
                    .card1 , .card2 , .card3 {
                        height:80%;
                        transition: 0.5s;
                    }      
                    .bottom {
                        height:50%;
                        transition: 0.5s;
                    }
                    .top{
                        height:50%;
                        transition: 0.5s;
                    }  
                } 
                }
            }
        }    
    }

@media only screen and (max-width:880px)
{
    .skills {
        grid-template-columns: 1fr;
        grid-template-rows:3fr 2fr 2fr 2fr ;

        .keyboard {
            grid-row: 1 / 2;
            grid-column: 1/2;
            height: 100%;
            background-position: center;

            .stext {
                font-size: 380%;
                position: relative;
                left: 20%;
                top: 25%;
            }
        }
        
        .skill1 {
            grid-column: 1/2;
            grid-row: 2/ 3; 
            height: 100%;
            width: 100%;
            background-color: #949494;
            z-index: -3;

            .skill1_prog{
                top: 25%;
                width: 125px;
                height: 125px;    
            }

            img {
                position: relative;
                width: 150px;
                top: 12%;
                left: 4.5%;
            }
        }
        .skill2 {
            grid-row: 3/4;
            height:100%;
            width: 100%;
            grid-column: 1/2;
            img {
                position: relative;
                width: 110px;
                top: 9%;
                left: 10.5%;
            }
        }
        .skill3 {
            grid-row: 4/5;
            height: 100%;
            width: 100%;
            grid-column: 1/2;
            img {
                position: relative;
                width: 118px;
                top: 4.58%;
                left: 10%;
            }
        }
    
    }
    .Projects{
    
        .card_container{
            @include flexit(column);

            .contain1 , .contain2 , .contain3{
                height:33.33%;
                width: 100%;

                .card1 , .card2 , .card3{
                    @include flexit(row);
                    margin: 5%;
                    height: 80%;
                    .top{
                        height:100%;
                        width: 50%;                    
                    }
                    .bottom{
                        height:100%;
                        width: 50%;
                    }
                }
            }
        } 
    }
}



@media only screen and (max-width: 450px)
{
    .intro1 , .intro2{
        font-size: 250%;
    }
    .navigate{
        overflow: hidden;
        top: 35%;

    }
    .aboutme {
        display: block;

        .about {
            position: absolute;
            height: 100vh;
            width: 80%;
            overflow: hidden;
            background-color: #adadad00;
        }

        .stud {
            position: absolute;
            height: 0vh;
            width: 0%;
        }
    }
    


}

