* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.3))), url("../img/headbg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/headbg.jpg");
  opacity: 0.9;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: #ffffffcb;
}

header .navbar {
  background: rgba(0, 0, 0, 0.527);
  border-radius: 0% 0% 50% 0%;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  overflow: hidden;
}

header .navbar .nav_list {
  position: relative;
  left: 10%;
  font-family: 'Montserrat', sans-serif;
  margin: 120px 100px;
  z-index: 101;
}

header .navbar .nav_list li {
  font-size: 3rem;
  z-index: 102;
}

header .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 55px;
  height: 50px;
  left: 1.5vw;
  top: 2.5vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 201;
  padding: 0;
}

header .burger .line1, header .burger .line2, header .burger .line3 {
  position: relative;
  height: 5px;
  width: 37px;
  background-color: rgba(255, 255, 255, 0.801);
  margin: 3px;
}

header .first {
  position: relative;
  top: 22%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  left: 0%;
  right: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .first .intro1 {
  position: relative;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  top: 25%;
  width: 100%;
  z-index: 1;
}

header .first .vtx {
  position: relative;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 6.5em;
  top: 24%;
  width: 100%;
  z-index: 1;
}

header .first .intro2 {
  position: relative;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  top: 25%;
  width: 100%;
  z-index: 1;
}

.navigate {
  position: fixed;
  z-index: 200;
  right: 1vw;
  height: 27vh;
  min-height: 200px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.navigate .butt1, .navigate .butt2, .navigate .butt3, .navigate .butt4, .navigate .butt5, .navigate .butt6 {
  border: 2px solid #ffffff;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100%;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  z-index: 100;
}

.navigate .butt1:hover, .navigate .butt2:hover, .navigate .butt3:hover, .navigate .butt4:hover, .navigate .butt5:hover, .navigate .butt6:hover {
  background-color: #ffffff;
}

.aboutme {
  overflow: hidden;
  background-color: #adadad;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutme .stud {
  height: 100vh;
  width: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 100, 100, 0.322)), to(rgba(0, 0, 0, 0.295))), url("../img/stud.jpg");
  background-image: linear-gradient(rgba(100, 100, 100, 0.322), rgba(0, 0, 0, 0.295)), url("../img/stud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  overflow-x: hidden;
  min-height: 600px;
}

.aboutme .about {
  width: 50%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: #000000a4;
  background-color: #adadad;
}

.aboutme .about .little {
  font-family: 'Roboto', sans-serif;
  font-size: 250%;
  color: #ffffffc0;
  border-left: 5px solid #eb0027e5;
  width: 80%;
  padding: 5px 12px;
  position: relative;
  left: 7%;
  top: 7%;
  color: #0000009c;
}

.aboutme .about .info1 {
  position: relative;
  left: 7%;
  top: 12%;
  width: 85%;
}

.aboutme .about .info2 {
  position: relative;
  left: 7%;
  top: 17%;
  width: 85%;
}

.aboutme .about .butt_contain1 {
  position: relative;
  top: 24%;
  left: 7%;
  width: 200px;
  height: 50px;
}

.aboutme .about .butt_contain1 .butt {
  background-color: #eb0027e5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.aboutme .about .butt_contain1 .butt:hover {
  background-color: #ff002b;
}

.skills {
  overflow: hidden;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  min-height: 600px;
}

.skills .keyboard {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/skills.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/skills.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -4;
  overflow-x: hidden;
}

.skills .keyboard .stext {
  font-family: 'Roboto', sans-serif;
  font-size: 380%;
  color: #ffffffc0;
  border-left: 5px solid #eb0027e5;
  width: 100%;
  padding: 5px 12px;
  position: relative;
  left: 22%;
  top: 40%;
  font-weight: bold;
}

.skills .skill1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/ 4;
  width: 300%;
  background-color: #949494;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: -3;
}

.skills .skill1 .skill1_prog {
  position: relative;
  width: 185px;
  height: 185px;
  top: 27.5%;
  left: 4.5%;
  border-radius: 50%;
  border: 12px solid #ff3c00;
  font-size: 40px;
  font-family: sans-serif;
  background: #535353;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .skill1 img {
  position: relative;
  width: 185px;
  top: 17.5%;
  left: 4.5%;
}

.skills .skill2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  width: 400%;
  background-color: #616161;
  z-index: -2;
}

.skills .skill2 img {
  position: relative;
  width: 130px;
  top: 18%;
  left: 6.5%;
}

.skills .skill3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  width: 500%;
  background-color: #474747;
  z-index: -1;
}

.skills .skill3 img {
  position: relative;
  width: 141px;
  top: 16.58%;
  left: 5%;
}

.Projects {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-column: 1fr 4fr;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#414345), to(#232526));
  background-image: linear-gradient(to right bottom, #414345, #232526);
}

.Projects .projects_title {
  font-family: 'Roboto', sans-serif;
  font-size: 420%;
  color: #ffffffc0;
  border-left: 5px solid #eb0027e5;
  width: 350px;
  padding: 5px 12px;
  position: relative;
  left: 0;
  top: 0;
  background-clip: text;
}

.Projects .card_container {
  height: 80vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  overflow-y: hidden;
  min-height: 600px;
}

.Projects .card_container .contain1, .Projects .card_container .contain2, .Projects .card_container .contain3 {
  height: 450px;
  width: 350px;
  overflow-y: hidden;
  -webkit-perspective: 500px;
          perspective: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Projects .card_container .contain1 .card1, .Projects .card_container .contain1 .card2, .Projects .card_container .contain1 .card3, .Projects .card_container .contain2 .card1, .Projects .card_container .contain2 .card2, .Projects .card_container .contain2 .card3, .Projects .card_container .contain3 .card1, .Projects .card_container .contain3 .card2, .Projects .card_container .contain3 .card3 {
  position: absolute;
  width: 80%;
  height: 40%;
  margin: 20%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Projects .card_container .contain1 .card1 .top, .Projects .card_container .contain1 .card2 .top, .Projects .card_container .contain1 .card3 .top, .Projects .card_container .contain2 .card1 .top, .Projects .card_container .contain2 .card2 .top, .Projects .card_container .contain2 .card3 .top, .Projects .card_container .contain3 .card1 .top, .Projects .card_container .contain3 .card2 .top, .Projects .card_container .contain3 .card3 .top {
  z-index: 1;
  background: #7e7c7c;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Projects .card_container .contain1 .card1 .bottom, .Projects .card_container .contain1 .card2 .bottom, .Projects .card_container .contain1 .card3 .bottom, .Projects .card_container .contain2 .card1 .bottom, .Projects .card_container .contain2 .card2 .bottom, .Projects .card_container .contain2 .card3 .bottom, .Projects .card_container .contain3 .card1 .bottom, .Projects .card_container .contain3 .card2 .bottom, .Projects .card_container .contain3 .card3 .bottom {
  overflow-y: hidden;
  height: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: cornsilk;
}

.Contact {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.678)), to(rgba(0, 0, 0, 0.685))), url("../img/contact_bg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.685)), url("../img/contact_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.Contact .contact_title {
  font-family: 'Roboto', sans-serif;
  font-size: 420%;
  color: #ffffffc0;
  border-left: 5px solid #eb0027e5;
  width: 400px;
  padding: 5px 12px;
  position: relative;
  left: 8%;
  top: 1.5%;
}

.Contact form {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 80vh;
  min-height: 600px;
  overflow-x: hidden;
}

.Contact form .name {
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  height: 60px;
  padding: 45px;
}

.Contact form .name .uname {
  display: block;
  width: 100%;
  position: relative;
  top: 15px;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Contact form .name input[type="text"] {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none;
}

.Contact form .mail {
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  height: 60px;
  padding: 45px;
}

.Contact form .mail .umail {
  display: block;
  width: 100%;
  position: relative;
  top: 15px;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Contact form .mail input[type="email"] {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none;
}

.Contact form .subject {
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  height: 60px;
  padding: 45px;
}

.Contact form .subject .usubject {
  display: block;
  width: 100%;
  position: relative;
  top: 15px;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Contact form .subject input[type="text"] {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none;
}

.Contact form .msg {
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  height: 200px;
  padding: 45px;
  overflow: hidden;
}

.Contact form .msg .umsg {
  display: block;
  width: 100%;
  position: relative;
  top: 15px;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 0px;
}

.Contact form .msg textarea {
  height: 90%;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none;
  resize: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.Contact form .butt_contain2 {
  width: 200px;
  height: 50px;
}

.Contact form .butt_contain2 button {
  background-color: #eb0027e5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  cursor: pointer;
}

.Contact form .butt_contain2 button:hover {
  background-color: #ff002b;
}

@media only screen and (min-width: 451px) {
  .Projects .card_container .contain1:hover .card1, .Projects .card_container .contain1:hover .card2, .Projects .card_container .contain1:hover .card3, .Projects .card_container .contain2:hover .card1, .Projects .card_container .contain2:hover .card2, .Projects .card_container .contain2:hover .card3, .Projects .card_container .contain3:hover .card1, .Projects .card_container .contain3:hover .card2, .Projects .card_container .contain3:hover .card3 {
    height: 80%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .Projects .card_container .contain1:hover .bottom, .Projects .card_container .contain2:hover .bottom, .Projects .card_container .contain3:hover .bottom {
    height: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .Projects .card_container .contain1:hover .top, .Projects .card_container .contain2:hover .top, .Projects .card_container .contain3:hover .top {
    height: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 880px) {
  .skills {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 3fr 2fr 2fr 2fr;
        grid-template-rows: 3fr 2fr 2fr 2fr;
  }
  .skills .keyboard {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    height: 100%;
    background-position: center;
  }
  .skills .keyboard .stext {
    font-size: 380%;
    position: relative;
    left: 20%;
    top: 25%;
  }
  .skills .skill1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/ 3;
    height: 100%;
    width: 100%;
    background-color: #949494;
    z-index: -3;
  }
  .skills .skill1 .skill1_prog {
    top: 25%;
    width: 125px;
    height: 125px;
  }
  .skills .skill1 img {
    position: relative;
    width: 150px;
    top: 12%;
    left: 4.5%;
  }
  .skills .skill2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    height: 100%;
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .skills .skill2 img {
    position: relative;
    width: 110px;
    top: 9%;
    left: 10.5%;
  }
  .skills .skill3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    height: 100%;
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .skills .skill3 img {
    position: relative;
    width: 118px;
    top: 4.58%;
    left: 10%;
  }
  .Projects .card_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Projects .card_container .contain1, .Projects .card_container .contain2, .Projects .card_container .contain3 {
    height: 33.33%;
    width: 100%;
  }
  .Projects .card_container .contain1 .card1, .Projects .card_container .contain1 .card2, .Projects .card_container .contain1 .card3, .Projects .card_container .contain2 .card1, .Projects .card_container .contain2 .card2, .Projects .card_container .contain2 .card3, .Projects .card_container .contain3 .card1, .Projects .card_container .contain3 .card2, .Projects .card_container .contain3 .card3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5%;
    height: 80%;
  }
  .Projects .card_container .contain1 .card1 .top, .Projects .card_container .contain1 .card2 .top, .Projects .card_container .contain1 .card3 .top, .Projects .card_container .contain2 .card1 .top, .Projects .card_container .contain2 .card2 .top, .Projects .card_container .contain2 .card3 .top, .Projects .card_container .contain3 .card1 .top, .Projects .card_container .contain3 .card2 .top, .Projects .card_container .contain3 .card3 .top {
    height: 100%;
    width: 50%;
  }
  .Projects .card_container .contain1 .card1 .bottom, .Projects .card_container .contain1 .card2 .bottom, .Projects .card_container .contain1 .card3 .bottom, .Projects .card_container .contain2 .card1 .bottom, .Projects .card_container .contain2 .card2 .bottom, .Projects .card_container .contain2 .card3 .bottom, .Projects .card_container .contain3 .card1 .bottom, .Projects .card_container .contain3 .card2 .bottom, .Projects .card_container .contain3 .card3 .bottom {
    height: 100%;
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .intro1, .intro2 {
    font-size: 250%;
  }
  .navigate {
    overflow: hidden;
    top: 35%;
  }
  .aboutme {
    display: block;
  }
  .aboutme .about {
    position: absolute;
    height: 100vh;
    width: 80%;
    overflow: hidden;
    background-color: #adadad00;
  }
  .aboutme .stud {
    position: absolute;
    height: 0vh;
    width: 0%;
  }
}
/*# sourceMappingURL=style.css.map */